@{
    ViewData["Title"] = "Успішна реєстрація";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо, @ViewBag.UserName!</h1>
    <p class="lead">Ваш обліковий запис було успішно створено.</p>
</div>